[Unit]
Description=Service that keeps running the discord bot running from startup.

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/home/ubuntu/current/buddiebot_server
WorkingDirectory=/home/ubuntu/current
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n